Repository kubevirt/kubectl-virt-plugin: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubectl-virt-plugin-check-create-release, build-kubectl-virt-plugin-images

pull-kubectl-virt-plugin-check-create-release:
  optional: false
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
    preset-shared-images: 'true'
  spec:
    containers:
    - image: quay.io/kubevirtci/kubectl-virt-builder@sha256:94d64b3c4015c0f01239610d7c22e9baf84e67467a457942acf7fbbfbd3a38cf
      command:
  ...

build-kubectl-virt-plugin-images:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-docker-mirror-proxy: 'true'
  spec:
    nodeSelector:
      type: bare-metal-external
    volumes:
    - name: token
      secret:
        secretName: oauth-token
    - name: gcs
      secret:
        secretName: gcs
    containers:
  ...

Use krew release bot instead of creating PR
  .github/workflows/krew-release-bot.yaml
  .krew.yaml
  images/builder/Dockerfile
  scripts/create-krew-index-pr.sh
  scripts/create-krew-yaml.sh
  scripts/create-pull-request.sh
  scripts/create-release.sh
  scripts/functions
  scripts/test-krew-package-linux.sh
Due: pull-kubectl-virt-plugin-check-create-release, build-kubectl-virt-plugin-images

Update krew-release-bot.yaml
  .github/workflows/krew-release-bot.yaml
Due: none

Fix krew template formatting
  .krew.yaml
Due: none

Fix plugin url in template
  .krew.yaml
Due: none

Add krew-release-bot status badge.
  README.md
Due: none

Remove badge again
  README.md
Due: none

Set default branch to main
  scripts/functions
Due: pull-kubectl-virt-plugin-check-create-release

Move danielBelenky to emeritus approvers
  OWNERS
Due: none

Fix downloads to use new expanded_assets page
  scripts/functions
Due: pull-kubectl-virt-plugin-check-create-release

feautre: adding arm64 for darwin
  .krew.yaml
Due: none

krew, arch: add arm binaries
  .krew.yaml
  scripts/functions
Due: pull-kubectl-virt-plugin-check-create-release

krew, arch: add arm binaries (#38)
  .krew.yaml
  scripts/functions
Due: pull-kubectl-virt-plugin-check-create-release

kubectl-virt: update README and krew manifest links
  .krew.yaml
  README.md
  manifest-templates/virt-footer.yaml.template
  manifest-templates/virt-head.yaml.template
  manifest-templates/virt-platform.yaml.template
Due: none

kubectl-virt: update README and krew manifest links (#40)
  .krew.yaml
  README.md
  manifest-templates/virt-footer.yaml.template
  manifest-templates/virt-head.yaml.template
  manifest-templates/virt-platform.yaml.template
Due: none

OWNERS: move rmohr and fgimenez to emeritus
  OWNERS
Due: none

OWNERS: Add 0xFelix to reviewers and approvers
  OWNERS
Due: none

OWNERS: Add 0xFelix to reviewers and approvers (#41)
  OWNERS
Due: none

README: update release creation section
  README.md
Due: none

README: remove sentence about making PR ready for review
  README.md
Due: none

README/OWNERS: update release creation section (#39)
  README.md
Due: none

Path conditions:
  pull-kubectl-virt-plugin-check-create-release: any of: scripts/.*
  build-kubectl-virt-plugin-images: any of: images/.*
