Repository kubevirt/community: changes, and which Prow jobs are due for each by the changed paths.
All: postsubmit-community-update-kubevirt-devstats-repo-sql, pull-community-make-lint, pull-community-make-test, pull-community-make-coverage

Path conditions:
  postsubmit-community-update-kubevirt-devstats-repo-sql: any of: sigs.yaml
  pull-community-make-lint: any of: generators/.*|validators/.*|pkg/.*
  pull-community-make-test: any of: generators/.*|validators/.*|pkg/.*
  pull-community-make-coverage: any of: generators/.*|validators/.*|pkg/.*

sigs: Introduce sig-architecture
  sig-architecture/charter.md
Due: none

sigs: Introduce sig-control-plane
  sig-control-plane/charter.md
Due: none

Introduce AI contribution policy
  ai-contribution-policy.md
Due: none

design-proposals: Remove template and provide warning in README
  design-proposals/README.md
  design-proposals/proposal-template.md
Due: none

design-proposals: Remove template and provide warning in README (#408)
  design-proposals/README.md
  design-proposals/proposal-template.md
Due: none

Introduce sig-architecture and sig-control-plane (#423)
  sig-architecture/charter.md
  sig-control-plane/charter.md
Due: none

Update VMpool Design doc
  design-proposals/vm-pool.md
Due: none

sig-control-plane: Add to sigs.yaml and select chairs
  sig-control-plane/charter.md
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

sig-control-plane: Add to sigs.yaml and select chairs (#425)
  sig-control-plane/charter.md
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

Add inactive users to alumni.yaml
  ALUMNI.md
  alumni.yaml
Due: none

Add inactive users to alumni.yaml (#426)
  ALUMNI.md
  alumni.yaml
Due: none

fix(sig-ci): update chairs since brianmcarey left
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

chore: Run make generate
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

chore(sig-ci): add emeritus status to sig-list.md
  OWNERS
  OWNERS_ALIASES
  generators/cmd/sigs/sig-list.gomd
  pkg/sigs/types.go
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql, pull-community-make-lint, pull-community-make-test, pull-community-make-coverage

Introduce commit message review framework plan
  commit-message-review-framework.md
Due: none

wg: Introduce wg-aie
  wg-aie/OWNERS
  wg-aie/charter.md
Due: none

Improve installation documentation with prerequisites and troubleshooting
  docs/getting-started.md
  pkg/OWNERS
  virtctl
  vm.yaml
Due: pull-community-make-lint, pull-community-make-test, pull-community-make-coverage

sig-control-plane: Add fortnightly meeting
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

wg-aie: Add missing sigs.yaml and sig-list.md entries
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

wg-aie: Add fortnightly meeting
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

add Whitedyl to SIG CI reviewers
  OWNERS_ALIASES
Due: none

feat(sig-ci): nominate dollierp as sig-chair
  sig-list.md
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

wg-aie: Replace Alay Patel with Fan Zhang as co-chair
  sig-list.md
  sigs.yaml
  wg-aie/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

add davids chair to s390x wg
  sig-list.md
  sigs.yaml
  wg-arch-s390x/OWNERS
  wg-arch-s390x/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

Update sig-list.md
  sig-list.md
Due: none

docs: point community meeting notes link to the current doc
  community_meeting.md
Due: none

sigs.yaml: update community meeting archive_url to current doc
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

docs: add release notes contributor guide
  contributors/guide/release-notes.md
Due: none

docs: propose systematic SIG/WG activity tracking
  sig-wg-activity-tracking.md
Due: none

docs: address review feedback on release notes guide
  contributors/guide/release-notes.md
Due: none

ai-contribution-policy: adopt documentation-first approach for AI context
  ai-contribution-policy.md
  docs/ai-tooling-guidelines.md
Due: none

feat: add nestoracunablanco to wg-arch-s390x
  sig-list.md
  sigs.yaml
  wg-arch-s390x/OWNERS
  wg-arch-s390x/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

feat: add nestoracunablanco to wg-arch-s390x (#450)
  sig-list.md
  sigs.yaml
  wg-arch-s390x/OWNERS
  wg-arch-s390x/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

WIP: extract sig data into file
  go.mod
  pkg/sigs/file.go
  pkg/sigs/types.go
  sig-ci/group.yaml
  sigs.yaml
Due: postsubmit-community-update-kubevirt-devstats-repo-sql, pull-community-make-lint, pull-community-make-test, pull-community-make-coverage

Nominate lyarwood as wg-arch-arm chair
  sig-list.md
  sigs.yaml
  wg-arch-arm/OWNERS
  wg-arch-arm/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

Nominate lyarwood as wg-arch-arm chair (#452)
  sig-list.md
  sigs.yaml
  wg-arch-arm/OWNERS
  wg-arch-arm/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql

VEP-258: Support for ppc64le Arch
  sig-list.md
  sigs.yaml
  wg-arch-ppc64le/OWNERS
  wg-arch-ppc64le/charter.md
Due: postsubmit-community-update-kubevirt-devstats-repo-sql
